// COLORS
$pri-col: #ae8652;
$sec-col: #fff;
$thi-col: #afafaf;
$four-col: #505050;

// TYPOGRAPHY
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display', serif;
$base-font: 16px;
$font-normal: 400;
$font-bold: 700;